# CODEOWNERS

# This file declares which users are qualified to review and approve changes to
# specific files or paths in this repository. It helps contributors to identify
# whom to consult for assistance on merge requests.

# To understand the syntax and semantics of this file, see:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Note that rules defined later in the file take precedence over the rules
# defined earlier.

# The owners in this rule will be the default owners for everything in
# the repo (if no other rule below matches the path of a modified file)
*                       @nitesr
